// Our colours
$primary: #caFF80;
$secondary: #2BAB5C;
$tertiary: #6EAFA6;

$site-navigation-background: #2a451c;
$page-background: #0e1e0e;
$content-background: #1e1e1e;
$content-foreground: #f8fafc;

// Bootstrap Color overrides
$body-color: $content-foreground;
$body-bg: $page-background;
$modal-content-bg: $content-background;
$modal-content-border-color: $content-foreground;
$btn-close-color: $secondary;

// Form overrides
$input-bg: #ffffff;
$input-color: #000000;

// Typography overrides
// $font-family-sans-serif: 'Nunito', sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;
