// Our colours
$primary: #caFF80;
$secondary: #2BAB5C;
$tertiary: #6EAFA6;

$site-navigation-background: #2a451c;

// Bootstrap overrides
$body-color: #f8fafc;
$body-bg: #0e1e0e;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
